<div class="row-fluid">
  <div class="span10">
    <%= bootstrap_flash %>

    <%= google_map_tag id: "map_canvas", width: 500, height: 500 %>

    <%= form_tag('/search', :method => :get) do %>

    <% end %>

    </div>
    <% @local_points.each do |point| %>
      <p><%= point.point_name %></p>
    <% end %>

  </div>
</div><!--/row-->
