<div class="row-fluid">
  <%= bootstrap_flash %>
  <div class="span6">
    <%= google_map_tag id: "map_canvas", width: 500, height: 500 %>
  </div>
  <div class="span6">
    <%= render 'form' %>
  </div>
</div><!--/row-->

<% content_for :javascript do %>
<%= javascript_include_tag "local_point" %>
<% end %>
