<div class="row-fluid">
  <%= bootstrap_flash %>
  <div class="span6">
    <%= google_map_tag id: "map_canvas", width: 500, height: 500 %>
  </div>
  <div class="span6">
    <%= form_tag '/local_point', :method => :post, :class => 'form-horizontal' do %>
      <fieldset>
        <legend>地域情報の登録</legend>
        <div class="control-group">
          <label class="control-label" for="point_name">情報名</label>
          <div class="controls">
            <input type="text" class="input-large" name="point_name" id="point_name"
              placeholder="店名・地域名など" />
            <button type="button" class="btn" id="update_center_by_name">緯度経度を取得</button>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="address">住所</label>
          <div class="controls">
            <input type="text" class="input-large" name="address" id="address"
            placeholder="東京都渋谷区渋谷2-21-1" />
            <button type="button" class="btn" id="update_center_by_address">緯度経度を取得</button>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="latitude">緯度</label>
          <div class="controls">
            <input type="text" class="input-medium" name="latitude" id="latitude" disabled />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="longitude">経度</label>
          <div class="controls">
            <input type="text" class="input-medium" name="longitude" id="longitude" disabled />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="description">説明</label>
          <div class="controls">
            <textarea rows="3" class="input-xlarge" name="description" id="description">
            </textarea>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn">登録</button>
          </div>
        </div>
      </fieldset>
    <% end %>
  </div>
</div><!--/row-->

<% content_for :javascript do %>
<%= javascript_include_tag "local_point" %>
<% end %>
