<div class="row-fluid">
  <%= bootstrap_flash %>
  <div class="span6">
    <%= google_map_tag id: "map_canvas", width: 500, height: 500 %>
  </div>
  <div class="span6">
    <%= form_tag '/local_point', :method => :post, :class => 'form-horizontal' do %>
      <fieldset>
        <legend>Local Point Form</legend>
        <div class="control-group">
          <label class="control-label" for="point_name">情報名</label>
          <div class="controls">
            <input type="text" class="input-xlarge" name="point_name" id="point_name"
              placeholder="コンビニエンスストア ○×店など" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="latitude">緯度</label>
          <div class="controls">
            <input type="text" class="input-xmedium" name="latitude" id="latitude" disabled />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="longitude">経度</label>
          <div class="controls">
            <input type="text" class="input-xmedium" name="longitude" id="longitude" disabled />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="description">説明</label>
          <div class="controls">
            <textarea rows="3" class="input-xlarge" name="description" id="description">
            </textarea>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn">登録</button>
          </div>
        </div>
      </fieldset>
    <% end %>
  </div>
</div><!--/row-->

<% content_for :javascript do %>
<%= javascript_include_tag "local_point" %>
<% end %>
