<h3>このサービスについて</h3>
JamSession*Localは、<br/>
ジャムセッションに参加したい、でも、いつ、どんなところで参加できるか分からない、という演奏者の皆さんが、<br/>
より簡単にお店の情報に触れられるようにしたい。<br/>
より気軽にジャムセッションを楽しめるようにしたい。<br/>
という思いから作られたサービスです。<br/>
ジャムセッションの情報を、より使い易い形でまとめでいきたいと思っています。<br/>
当サービスはまだ生まれたばかりのサービスです。<br/>
もし関心を持っていただけましたら、ぜひセッションの情報を追加してみてください。

<h3>開始日</h3>
2013/05/10〜

<h3>管理者</h3>
<%= link_to '@marimofire(twitter)', 'http://twitter.com/marimofire' %><br/>
楽器はドラムスです。

<h3>お問い合わせ</h3>
ご質問・ご要望等ございましたら、下記のメールアドレスまでお問い合わせください。<br />
jam.session.local (アットマーク) gmail.com
