<h3>このサイトについて</h3>

<h3>開始日</h3>
2013/05/10

<h3>管理者</h3>
<%= link_to '@marimofire(twitter)', 'http://twitter.com/marimofire' %>

<h3>お問い合わせ</h3>
ご質問・ご要望等ございましたら、下記のメールアドレスまでお問い合わせください。<br />
jam.session.local (アットマーク) gmail.com
