<div class="row-fluid">
  <%= bootstrap_flash %>
  <div class="span6">
    <p class="text-center lead">お店の位置に矢印(中央)を合わせてください。</p>
    <%= google_map_tag id: "map_canvas", width: 550, height: 550 %>
  </div>
  <div class="span6">
    <%= render 'form' %>
  </div>
</div><!--/row-->

<% content_for :title do %>
  New : JamSession*Local
<% end %>
<% content_for :javascript do %>
<%= javascript_include_tag "local_point" %>
<% end %>
