<div class="navbar navbar-fluid-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="<%= url_for(:controller => 'index', :action => 'index') %>">Local x Local</a>
      <div class="container nav-collapse">
        <ul class="nav">
          <li><%= link_to "地域情報の登録", url_for(:controller => 'local_point', :action => 'new')  %></li>
          <li><%= link_to "このサイトについて", url_for(:controller => 'about', :action => 'index')  %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
